@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'MyriadProRegular';
	src: url('myriadpro-regular-webfont.eot');
	src: local('☺'), url('myriadpro-regular-webfont.woff') format('woff'), url('myriadpro-regular-webfont.ttf') format('truetype'), url('myriadpro-regular-webfont.svg#webfonto70rnzVV') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body {
	background-image:url(../img/page_bground.jpg);
	margin: 0px;
	padding: 0px;
	background-repeat:repeat-x;
	}
	
p {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:16px;
	color: #8d8e92;
	text-shadow:#000000 -1px -1px 0px;
	line-height: 18px;
	padding-bottom: 15px;
	}
	
.intro_text {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:18px;
	color: #8d8e92;
	text-shadow:#000000 -1px -1px 0px;
	line-height: 22px;
	}
	
h1 {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:40px;
	color: #afb0b4;
	text-shadow:#000000 -1px -1px 0px;
	letter-spacing:-2px;
	line-height: 50px;
	text-transform:uppercase;
	}

h2 {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:24px;
	color: #afb0b4;
	text-shadow:#000000 -1px -1px 0px;
	letter-spacing:-2px;
	text-transform:uppercase;
	}

h3 {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:30px;
	color: #afb0b4;
	text-shadow:#000000 -1px -1px 0px;
	line-height: 30px;
	letter-spacing:-1px;
	text-transform:uppercase;
	}
div.hr hr { display: none;}	
div.hr { 
	height: 30px; 
	background: url(../img/hr.png) no-repeat scroll center;
	clear: both;
	margin: 30px 0 40px 0;
	}

	
.clear {
	clear: both;
	margin: 0 0 30px 0;
	}
	

.section_title {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:30px;
	color: #afb0b4;
	text-shadow:#000000 -1px -1px 0px;
	line-height: 40px;
	letter-spacing:-1px;
	text-transform:uppercase;
	margin-bottom: 30px;
	}
	
.footer_heading {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:24px;
	color: #afb0b4;
	text-shadow:#000000 1px 1px 0px;
	letter-spacing:-.05em;
	}
	
	
.large_quote {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:24px;
	color: #afb0b4;
	text-shadow:#000000 -1px -1px 0px;
	line-height: 40px;
	letter-spacing:-.05em;
	}
	
.small_quote {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:14px;
	color: #707174;
	text-shadow:#000000 -1px -1px 0px;
	letter-spacing:-.05em;
	}
	
.benefit_header {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:24px;
	color: #afb0b4;
	text-shadow:#000000 -1px -1px 0px;
	letter-spacing:-.05em;
	}
	
#header_fullwidth {
	margin: 0 auto;
	background-image:url(../img/header_bground.jpg);
	background-repeat:repeat-x;
	width: 100%;
	height: 223px;
	}
	
#header {
	width: 960px;
	margin: 0 auto;
	height: 223px;
	}
	
#wrapper {
	width: 960px;
	margin: 0 auto;
	}
	
	
#top_logo {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	}
	
a img {
	border: none;
	}
	
img {
border: none;
}
	
img.left {
	float: left;
	}

img.right {
	float: right;
	}
	
.content_section {
	width: 960px;
	text-align: left;
	clear: both;
	padding-top: 6r0px;
	}
	
.content_section ul.gallery li {
	display: inline;
	margin: 0 34px 0 0;
	}
	
.intro_section {
	width: 960px;
	text-align: center;
	clear: both;
	padding-top: 30px;
	}
	
.quotes_wrapper {
	margin: 0 auto;
	clear: both;
	background-image:url(../img/quote_bground.jpg);
	background-repeat:no-repeat;
	width: 960px;
	height: 130px;
	padding-top: 20px;
	}
	
.left_quote {
	width: 480px;
	float: left;
	text-align:center;
	}
	
.right_quote {
	width: 480px;
	float: right;
	text-align:center;
	}
	
.left_content {
	width: 480px;
	float: left;
	text-align:left;
	}
	
.benefit {
	float: left;
	width: 480px;
	margin-top: 30px;
	}
	
.benefit_right {
	float: right;
	width: 390px;
	}
	
.content_section ul.social li {
	display: inline;
	margin: 0 15px 0 0;
	padding:2px 0 0 0;
	}
	
.social {
	padding:20px 0 20px 0;
	}
	
.social img, img.a {
	padding:2px 0 0 0;
	}
	
.social a:hover {
	filter: gray;
	}
	
.right_content {
	width: 480px;
	float: right;
	text-align:left;
	}
	
.right_content ul.gallery li {
	display: inline;
	margin: 0 9px 0 0;
	}
	
#gallery {
	padding:20px 0 20px 0;
	}
	
#gallery img, img.a {
	padding:2px 0 0 0;
	}
	
ul {
	margin:0;
	padding: 0;
	list-style:none;
	list-style-position: inside;
	line-height: 1.8em;
	list-style-type:disc;
	}
	
li {
	padding: 0 0 0 0;
	margin:0;
	font-family:Helvetica, sans-serif;
	font-size:12px;
	}
	
.tiny {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:10px;
	color: #8f8f8f;
	}
	

	
#footer_wrapper {
	clear: both;
	background-image:url(../img/footer_bground.jpg);
	background-repeat:repeat-x;
	min-height:224px;
	margin-top: 0 auto;
	}
	
#footer_container {
	margin: 0 auto;
	width: 960px;
	}
	
#footer_left {
	float: left;
	width: 400px;
	margin-top: 100px;
	}
	
#footer_right {
	float: right;
	width: 500px;
	margin-top: 80px;
	text-align:right;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:11px;
	color: #737373;
	}
	
#footer_bottom {
	margin: 0 auto;
	width: 960px;
}
	
.follow a {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:11px;
	color: #c1c1c1;
	font-style:italic;
	text-decoration:none;
	}
	
	
.copyright {
	float:left;
	clear: both;
	width: 520px;
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:11px;
	color: #737373;
	}
	
.copyright a {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:11px;
	color: #737373;
	text-decoration:underline;
	}
	
.bottom_logo {
	float:right;
	width: 300px;
	text-align: right;
	}

/***********************************************************************************************************************
 STYLES FOR TWITTER FEED
************************************************************************************************************************/

.tweet, .query {
  font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:1.5em; }
  
.tweet .tweet_list, .query .tweet_list {
    list-style-type: none;
	}
	
.tweet .tweet_list .awesome, .tweet .tweet_list .epic, .query .tweet_list .awesome, .query .tweet_list .epic {
      text-transform: uppercase; }
	  
.tweet .tweet_list li, .query .tweet_list li {
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;
	  font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:12px;
	color:#737373;
list-style:none;
margin-bottom:10px;
padding-top:10px;
padding-bottom:10px;}
	  
.tweet .tweet_list li a, .query .tweet_list li a {
        color: #c1c1c1; }
	  
.tweet .tweet_list .tweet_avatar, .query .tweet_list .tweet_avatar {
      padding-right: .5em;
      float: left; }
	  
.tweet .tweet_list .tweet_avatar img, .query .tweet_list .tweet_avatar img {
        vertical-align: middle;
		padding:0 10px 0 0;}
		
.tweet .tweet_first {
	padding: 0;}
	
.tweet-button_container {
	margin-bottom: 20px;}
	


/***********************************************************************************************************************
 STYLES FOR Tipsy Rollovers
************************************************************************************************************************/

.tipsy { padding: 5px; font-size: 11px; opacity: 1.0; filter: alpha(opacity=100); background-repeat: no-repeat;  background-image: url(../img/tipsy.gif); margin-top: 10px; 	color:#1F242F; font-family: Helvetica, Arial, sans-serif; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: #c71e2c; color: white; max-width: 500px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center;}
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }
  
  
 .pp_nav p {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:20px;
	color: #8d8e92;
	letter-spacing:-.05em;
	margin:10px 0 5px 15px;
	z-index:9999;
	text-shadow: none;
	}
	
.pp_description {
	font-family:MyriadProRegular, Helvetica, sans-serif;
	font-size:20px;
	color: #8d8e92;
	letter-spacing:-.05em;
	margin:10px 0 5px 15px;
	z-index:9999;
	text-shadow: none;
	}
