
<!-- *************************************************************************
******************************  VIDEO SECTION  *******************************
************************************************************************** -->

<!-- start of content section -->
<div class="content_section">

<!-- start of left content section -->
<div class="left_content">

 <div class="section_title">LOOK A VIDEO... nice!</div>
 
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.</p>
 
 <p><a href="http://www.youtube.com/watch?v=d1_JBMrrYw8" rel="prettyPhoto" title="Go ahead and click to view our awesome video!"><img src="/static/img/video_link.jpg" alt="click to view video" width="429" height="98" /></a></p>
 
 <p><a href="#" title="Buy today while we have 20% off!" class="fade"><img src="/static/img/buy_button.png" width="328" height="54" alt="buy now" /></a></p>
  
</div><!-- end of left content section -->

<!-- start of right content section -->
<div class="right_content">

  <img src="/static/img/imac_iphone.jpg" alt="mac and iphone" width="426" height="374" class="right" />
  
</div><!-- end of right content section -->

</div><!-- end of content section -->

<div class="hr"></div>

